body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

h1 {
  color: white;
  margin-left: 40%;
  font-size: 300%;
}

input {
  margin-left: 40%;
  padding: 10px;
}

.divContainer #additem {
  margin-left: 1%;
  background-color: orange;
  padding: 10px;
}

.TodoList{
  color:white;
  margin-left: 30%;
  margin-right: 31%;
  width: 50vw;
}

.TodoList #todoName {
  color: white;
  background-color: purple;
  padding: 10px;
}

.TodoList .todoBtn {
  color: black;
  background-color: orange;
  float: right;
}

.TodoList .editTodo {
  padding: 2px;
  float: right;
  display: none;
}

.TodoList .saveTodo {
  color: black;
  background-color: orange;
  padding: 2px;
  margin-left: 0px;
  display: none;
}